* {
    box-sizing: border-box;
}

header {
    margin-bottom: 5px;
    height: 10%;
    width: 100%;
    background: lightcoral;
}

h2 {
    text-decoration: underline navy;
    text-align: center;
}

h3 {
    margin-bottom: 5px;
}

span {
    margin-top: 5px;
    color: midnightblue;
}

body>div {
    height: 600px;
    width: 15%;
    padding-right: 5px;
    float: left;
    background-color: skyblue;
    border: 1px solid navy;
}

.middle {
    height: 600px;
    width: 70%;
    background: lightgreen;
    padding: 0 10px;
    overflow: scroll;
}

.right {
    height: 600px;
    width: 15%;
    padding-left: 5px;
    float: right;
    background-color: plum;
    border: 1px solid rebeccapurple;
}

footer {
    border: 1px solid navy;
    height: 5%;
    width: 100%;
    background: gray;
    clear: both;
}
