table {
    margin: 0 auto;
}

td, th {
    border: 1px solid navy;
    margin: 0px;
    padding: 5px;
  }

  th {
    background: lightskyblue;
  }

  .striped {
    background: rgb(200, 230, 255);
  }

  h1 {
    color: navy;
    text-align: center;
  }

  form {
    text-align: center;
    margin-top: 2%;
  }

  .removable {
    background-color: #cfcfcf;
  }

  .striped .removable {
    background-color: #afafaf;
  }

  th.removable {
    background-color: #8c8c8c;
  }

  .unHide {
    display: none;
    margin: 0 auto;
  }

  .hidden {
    display: none;
  }

  .bookForm {
    background: skyblue;
    text-align: left;
    padding-bottom: 5px;
    position: absolute;
    bottom: 5%;
  }

  .bookForm form {
    text-align: left;
    padding: 0 10px;
  }

  .bookForm label, .bookForm input {
    margin: 3px 0px;
  }

  .bookForm input {
    width: 60%;
  }

  #submit {
    margin-left: 10px;
  }

  .bookForm h3 {
    color: navy;
    text-align: center;
    padding-top: 3px;
  }
