p {
    background-color: violet;
    color: black;
    height: 150px;
    width: 200px;
    padding: 20px;
    margin: 10px 10px;
    overflow: auto;
    line-height: 1.3;
}

div {
    display: inline-flex;
    background-color: wheat;
    justify-content: space-between;
}

.hidden {
    visibility: visible;
    color: white;
    background-color: darkviolet;
}

.flower {
    background-color: lavender;
    height: 50px;
    width: 50px;
    border-radius: 250px;
}

strong {
    color: midnightblue;
    font-weight: 400;
    font-family: cursive;
}
