.container {
    display: flex;
    min-height: 75px;
    width: 75%;
    flex-wrap: wrap;
  }

  .box {
    justify-content: space-between;
    width: 75px;
    height: 100px;
    margin: 10px;
    border: 1px solid navy;
    background-color: lightgray;
    padding: 5px;
  }

  .hidden {
    display: none;
  }

  .completed {
    background:rgb(150,150, 150);
  }

  .in_progress {
    background: lightblue;
  }
