div {
    border: 1px solid black;
    text-align: left;
}

.weekly {
    text-align: center;
    margin: 10px;
    margin-bottom: 30px;
}

.goalList {
    padding-left: 10px;
    padding-top: 10px;
}

ul li {
    text-align: left;
}

span.dates {
    position: absolute;
    left: 5%;
    color: pink;

}

.strike {
    text-decoration: line-through;
}
