* {
    margin: 0;
    padding: 0;
}

html {
    color: #1D5962;
}

section {
    padding: 5%;
    background-color: #66C3D1;
}

section:nth-of-type(2n){
    background-color: #D5D7D8;
}

img {
    width: 200px;
    border-radius: 50px;
}

/*Colors used (courtesy of Cloudflare Designs)
parent bg: #66C3D1
color: #1D5962
bg: #D5D7D8
border: #2D1832
*/

svg {
    padding: 0;
    /* border-radius: 50%; */
}

svg:hover {
    padding: 0.25px;
    border: 1px solid lightskyblue;
}
