body{
    font-family: Helvetica;
}

h1 {
    color: khaki;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.brushes {
    background-color: mediumspringgreen;
}

strong {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.frames {
    background-color: lightcoral;
}

.paint {
    background-color: skyblue;
}
