<%- include("header") -%>

<h2>This is my about me Page.</h2>
<p>
    Lots and lots of text... Lorem ipsum more text and more text and more. Don't forget to make lists upon lists and cry
    over frustrated code that never works the way it should.
</p>

<%- include("footer") -%>
