/******************************************
/* HOT GARBAGE - PLEASE DON'T MIMIC THIS CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2{
  text-align: center;
}
img{
  display: block;
  height: 150px;
  margin: 0 auto;
}
ul{
  width: 100px;
  height: 310px;
  border: 3px solid black;
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
li{
  width: 94px;
  height: 50px;
}

.colorDisplay {
  display: none;
  padding: 20px;
  margin: 0 20px;
  background: rgba(220,220,220, 0.8);
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#purple{
  background: rgba(241,63,247,1);
}
#green{
  background: rgba(0,253,81,1);
}
#blue{
  background: rgba(0,254,255);
}

#randomize {
  background: gray;
}

#randomGradient {
/*  background: linear-gradient(90deg, gray, purple, green, blue); */
  background: linear-gradient(90deg, white, black);
}

#randomGradient3Way {
  background: linear-gradient(90deg, red 25%, green 35%, blue);
}
