* {
    box-sizing: border-box;
}

h1, h2, h4, h5 {
    color: navy;
    background-color: lightcoral;
}

nav li {
    display: inline-block;
    width: 8%;
}

nav input {
    display: inline-block;
    min-width: 2%;
}

nav, nav a {
    background: black;
    color: white;
}

main h1 {
    float: left;
    width: 90%;
}

.date {
    float: right;
    width: 10%;
}

.main-topics {
    clear: both;
    margin-top: 20px;
    min-height: 400px;
}

.main-topic {
    float: left;
    width: 50%;
    min-height: 400px;
    background: palegreen;
}

.smaller-topic {
    float: right;
    width: 23%;
    min-height: 200px;
    background: plum;
}

.main-topic {
    background-image: url("https://images.unsplash.com/photo-1563166796-befbbd534d1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHJ1c3NpYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
    color: white;
    display: relative;
}

.info {
    color: white;
    position: absolute;
    bottom: 10%;
    padding-left: 20px;
}

.info a {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

.info h3 {
    color: white;
    font-size: 1.75rem;
    font-weight: 500;
}
