body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}
section {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 20px auto;
    border: 5px solid #003049;
    display: flex;
}

#columns {
    flex-direction: column;
}

#rows {
    flex-direction: row;
}

div {
    min-width: 50px;
    min-height: 50px;
}
