<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Quotes</title>
    <style>
        li {
            margin-bottom: 20px;
            padding: 5px;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            color: springgreen;
            font-size: 2rem;
        }
    </style>
</head>

<body>
    <h1>List of all quotes</h1>
    <ul>
        <% for(let quote of quotes){ %>
            <li>
                <a href="/quotes/<%= quote._id %>">
                    <%= quote.quoteContent %>
                </a>
            </li>
            <% } %>
    </ul>
    <a href="/quotes/new">Add a new quote</a>
</body>

</html>
