<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Quotes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <style>
        div {
            margin-bottom: 20px;
            padding: 5px;
        }

        a {
            text-decoration: none;
        }

        /* a:hover {
            color: springgreen;
            font-size: 2rem;
        } */
    </style>
</head>

<body class="container">
    <h1>List of all quotes</h1>
    <div class="row">
        <% for(let quote of quotes){ %>
            <div class="card col-4 bg-light">
                <a class="card-body text-info" href="/quotes/<%= quote._id %>">
                    <%= quote.quoteContent %>
                </a>
            </div>
            <% } %>
    </div>
    <a href="/quotes/new">Add a new quote</a>
</body>

</html>
